body{
    background-image: url(https://i.pinimg.com/originals/8e/f6/f1/8ef6f1e41a624f4abcc2fb6ca3c16761.gif);
    background-size: cover;
    /* color: aliceblue; */


}


.logo {
    height: 60px;
    width: 60px;
}

.container {
    height: 600px;
    width: 88%;
    border: 10px solid rgb(85, 80, 80);
    border-radius: 50px;
    margin: 0px auto;
    text-align: center;
    padding: 20px;
}

.head {
    padding: 20px;
    padding-bottom: 20px
}

.Switch {
    text-align: center;
    padding: 30px;
}

.container>h4 {
    padding-top: 30px;

}

.styles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    height: 60px;
    width: 800px;
    margin: 0px auto;
    background-color: rgb(170, 170, 170);
    border-radius: 30px;
    transition:background-color 0.9s ease-in-out;
    cursor: pointer;
}
.styles:hover {
    background-color: rgb(24, 178, 184);
  }